@import '../components/logo';
@import '../components/social-list';
@import '../components/mailing-form';

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $third-bg-color;
}
.appeal {
  display: block;
  padding-top: 12px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-white-color;
}
.address-list {
  @extend %list;
  font-style: normal;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    @extend %link;

    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: $third-text-color;

    transition: color 250ms $timing-function;

    &--white {
      color: $primary-white-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
