.hero {
  text-align: center;

  &__title {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 118px;

    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;

    @media screen and (min-width: $desctop) {
      width: 696px;
      padding-top: 200px;
      font-size: 44px;
      line-height: 1.364;
    }
  }
}
.overlay {
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $hero-bg-color;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/bg-mobile.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/bg-mobile@2x.jpg');
  }
  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/bg-tablet.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet),
    screen and (min-resolution: 192dpi) and (min-width: $tablet),
    screen and (min-resolution: 2dppx) and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/bg-tablet@2x.jpg');
  }
  @media screen and (min-width: $desctop) {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/bg-desctop.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $desctop),
    screen and (min-resolution: 192dpi) and (min-width: $desctop),
    screen and (min-resolution: 2dppx) and (min-width: $desctop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/bg-desctop@2x.jpg');
  }
}
