.logo {
  @extend %link;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: $secondary-text-color;

  transition: color 250ms $timing-function;

  animation-duration: 1000ms;

  &--accent {
    color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet) {
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
  @media screen and (min-width: $desctop) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    font-size: 26px;
    line-height: 1.192;
  }
}
