@import '../components/nav';
@import '../components/contact-list';
@import '../components/studio-social-list';

.menu-container {
  display: flex;
  align-items: center;
  z-index: 1000;

  flex-grow: 1;

  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    padding: 48px 40px;

    // background-color: $primary-white-color;
    background-color: $secondary-bg-color;
    outline: 1px dotted $secondary-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &.is-open {
      display: block;
    }
  }
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: fill 250ms $timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
