.studio-social-list {
  @extend %list;

  display: inline-flex;

  &__item {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  &__link {
    @extend %link;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;

    color: $accent-color;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
